<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns="http://java.sun.com/xml/ns/javaee" 
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/common/error.jsp</location>
	</error-page>
	
	<context-param>
		<param-name>address</param-name>
		<param-value>大马路200号</param-value>
	</context-param>
	
	<listener>
		<listener-class>com.wuxi.listener.MyServletContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>TimeServlet</servlet-name>
		<servlet-class>com.wuxi.web.TimeServlet</servlet-class>
		<init-param>
			<param-name>address</param-name>
			<param-value>大街100号</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TimeServlet</servlet-name>
		<url-pattern>/时间</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>beer</servlet-name>
		<servlet-class>com.wuxi.web.BeerServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>beer</servlet-name>
		<url-pattern>/select.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>com.wuxi.web.FileDownServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download.do</url-pattern>
	</servlet-mapping>
	
</web-app>


